@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-dark-800/80 backdrop-blur-md border border-dark-700;
  }
}

body {
  @apply bg-dark-900 text-white antialiased selection:bg-primary/30;
  margin: 0;
}
